body{
    margin: 0;
}
#bodydiv{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("./images/technology_png.png");
    height: 1950px;
    background-size: cover;
    margin: 0px;
    background-color:#006BCC;
}
#logo{
    font-family: Poppins;
    font-weight: bolder;
    font-size: 40px;
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.v1{
    border-left: 2px solid white;
    height: 20px;
    margin-top: 10px;
    margin-left: 15px;
    
}
#nav_text{
    font-family: Poppins;
    color: white;
    font-size: 14px;
    margin-left: 15px;
}
#nav_button{
    border-radius: 20px;
    border: 1px solid white;
    height: 35px;
    width: 150px;
    font-family: Poppins;
    font-size: 14px;
    margin-left: 15px;
}
#h_test{
    color: white;
    font-family: Poppins;
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px;
}
#p_test{
    font-family: Poppins;
    font-size: 13px;
    color: white;
}
#img_test{
    width: 515px;
    height: 280px;
    margin-left: 30px;
    position: absolute;
    
}

#img_screen{
    width: 410px;
    height:240px;
    position: absolute;
    margin-left: 15%;
    margin-top: 2%;
}
#div_img{
    position: relative;
 }
 #h_power{
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}
#div_bg_power{
    background-color: rgba(255, 255, 255, 0.1);
    width: 1150px;
    height: 250px;
    border-radius: 20px;
    margin-top: 30px;
    position: relative;
}
/* #div_inner{
    
} */
#lbl_power{
        color: white;
        font-family: Poppins;
        font-size: 30px;
        font-weight: bolder;
        padding-left: 50px;
        padding-bottom: 30px;
        align-self: center;
        padding-top: 30%;
        padding-right: 50px;
}
#imge_power{
    padding-left: 50px;
    margin-top: 20px;
   
}
#card_bg{
    background-color: #006BCC;
    height: 250px;
    margin-top: 50px;
    width: 210px;
    border-radius: 15px;
    
}
#img_power{
    margin-left: 15px;
    margin-top:20px ;
    width: 25px;
    height: 25px;
}
#card_title{
    color: white;
    font-family: Poppins;
    font-size: 14px;
}
#card_text{
    color: white;
    font-family: Poppins;
    font-size: 11px;
}
#img_test_help{
    width: 28px;
    height: 28px;
    margin-left: 15px;
}
#img_test_power{
    width: 30px;
    height: 30px;
    margin-left: 15px;

}
#img_help{
    height: 600px;
    width: 350px;
}
#help_bg{
    background-color: transparent;
    border: 0;
    width: 280px;
    margin-left: 70px;
}
#h_quantm{
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}
#div_quantm{
    width: 1150px;
    height: 280px;
    background-image: linear-gradient(to right,rgba(32,77,138,0.28), rgba(255, 255, 255, 0.1));
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin-top: 30px;
}
#lbl_quantm{
    color: white;
    font-family: Poppins;
    margin-left: 15px;
    font-size: 13px;
    margin-top: 20px;
    font-weight: bold;
}
#p_quantm{
    color: white;
    font-family: Poppins;
    font-size: 11px;
    margin-left: 15px;
}
#img_quantm{
    height: 220px;
    width: 300px;
    margin-top: -25px;
    margin-left: 25px;
}
#div_leap{
    width: 800px;
    height: 130px;
    background-image: linear-gradient(to right,rgba(32,77,138,0.28), rgba(255, 255, 255, 0.1));
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 50px;
}
#p_quantm1{
    color: white;
    font-family: Poppins;
    font-size: 11px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 30px;
}
#div_step{
    height: 240px;
    /* background-image: radial-gradient(rgba(32,77,138,0.1), #006BCC); */
    background-image: url("./images/step.png");
    
}
#img_elip{
    height: 200px;
    margin-top: 15px;
    width: 150px;
}
#lbl_step{
    color: white;
    font-size: 35px;
    font-family: Poppins;
    font-weight: 800;
    margin-top: 40px;
    margin-left: -60px;
    padding-right: 50px;
}
#p_step{
    color: white;
    font-size: 11px;
    font-family: Poppins;
    margin-top: 50px;
    margin-right: 90px;
}
#btn_step{
    background-color: transparent;
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    width: 250px;
    height: 30px;
    font-size: 11px;
    font-family: Poppins;
    margin-top: 10px;
}
#div_footer{
    height: 220px;
    background: rgba(16, 18, 21, 1);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
}

#lbl_footer{
    font-size: 11px;
    color: white;
    font-family: Poppins;
}
#img_footer{
    width:20px;
    height: 20px;
    
    margin-top:15px ;
    color: white;
}
#h5_foot{
    font-size: 13px;
    color: white;
    font-family: Poppins;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: bold;
}
#div_icons{
    text-align: center;
    margin-top: 20px;
}
#img_icon{
    margin-left: 20px;
}
#div_copyright{
    background: rgba(36, 52, 75, 1);
    height: 25px;
    text-align: center;
}
#lbl_copyright{
    color: white;
    font-family: Poppins;
    font-size: 10px;
    text-align: center;
}
/* #div_content{
    background-color: white;
} */

.right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
  }
  .left {
   
    margin-left: 0;
    margin-right: auto;
  }
  